<div class="row">

	<!-- /.col-sm-3 -->
    <div class="col-sm-3">
    	<ul class="list-group">
    		{{# each items }}
			<li class="list-group-item">	
                <a target="_self" href="/notes/delete/{{this._id}}" class="destroy close">×</a>
                <a target="_self" href="/notes/edit/{{this._id}}">
					<div class="note-name">
						<h2>{{ this.titulo }}</h2>
					</div>
					<div class="note-desc">
						{{ this.texto }}
					</div>
				</a>
			</li>
			{{/each}}			
		</ul>
    </div>
    <!-- /.col-sm-3 -->

    <!-- /.col-sm-9 -->
    <div class="col-sm-9">
        <div class="card card-block">
        	<h4 class="card-title">{{titleForm}}</h4>
        	<hr />
            <div class="card-text">
            	<form action="{{action}}" method="post" target="_self">
                    <input type="hidden" value="{{item._id}}" name="idUpdate" id="idUpdate" />
            		<div class="form-group">
                    	<label>Título</label>
            			<input type="text" value="{{item.titulo}}" class="form-control" name="titulo" id="titulo" />
            		</div>
            		<div class="form-group">
	            		<label>Texto</label>
	            		<textarea class="form-control" name="texto" id="texto">{{item.texto}}</textarea>
            		</div>
            		<button type="submit" class="btn btn-success">Enviar</button>
                    
                    {{# if btnExcluir }}
                        <a href="/notes/delete/{{item._id}}" class="btn btn-danger" target="_self">Excluir</a>                         
                    {{/if}}

                    {{# if btnCancelar }}
                        <a href="/notes" class="btn btn-warning" target="_self">Cancelar</a>
                    {{/if}}    
            	</form>
            </div>
        </div>
    </div>
    <!-- /.col-sm-9 -->    
</div>